---
const name = "Nikesh kumar"
---
<nav class="fixed w-full flex justify-center items-center p-5">
   <ul class="flex gap-10 items-center">
    <li class="cursor-pointer">About me</li>
    <li class="cursor-pointer">Projects</li>
    <li class="cursor-pointer">Blogs</li>
    <li class="cursor-pointer">Socials</li>
   </ul>
</nav>