---
const name = "Nikesh kumar";
---

<nav class="fixed w-full flex justify-center items-center p-5">
  <ul class="flex gap-10 items-center">
    <li class="cursor-pointer hover:animate-bounce">About me</li>
    <li class="cursor-pointer hover:animate-bounce">Projects</li>
    <li class="cursor-pointer hover:animate-bounce">Blogs</li>
    <li class="cursor-pointer hover:animate-bounce">Socials</li>
  </ul>
</nav>
